@charset "utf-8";

@font-face {
  font-family: "Pixel";
  src: url("./edit-undo.brk.woff2") format("woff2"),
  font-weight: normal;
  font-style: normal;
}

* {
  background-color: #0000;
  background-size: contain;
  background-repeat: no-repeat;
  border-color: #0000;
  color: #FFF;
  font-size: 5vh;
  font-family: "Pixel", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body {
  background-color: #333;
  margin: 0;
}

div {
  text-align: center;
}

button {
  background-image: url("button.png");
  background-position: center;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0s ease;
}

button:hover {
  filter: brightness(1.1);
}

img {
  object-fit: contain;
}

progress {
  all: revert;
  font-size: 1.8vh;
}

#coins {
  font-size: 12.5vh
}

#coins_per_click {
  font-size: 5vh
}

#coins_per_second {
  font-size: 5vh
}

.emoji {
  width: .6em;           /* フォントサイズに比例して変化 */
  height: .6em;
  margin: .2em;
  vertical-align: -.2em;  /* 行の高さに自然に合わせる */
  font-size: inherit;
}

.main_div {
  margin-right: 55vh;
  margin-left: 30vh;
}

.money_button {
  background-image: url("./images/buttons/money.png");
  background-position: bottom center;
  font-size: 10vh;
  width: 40vh;
  height: 44vh;
  margin-top: 0vh;
  padding-bottom: 4vh;
}

.money_button:active {
  background-image: url("./images/buttons/money-active.png");
  height: 40vh;
  margin-top: 4vh;
  padding-bottom: 0vh;
}

.power_line {
  background-image: url("./images/buttons/power_line.png");
  background-size: 100% 100%;
  position: relative;
  top: -12.5vh;
  left: 50%;
  width: 50%;
  height: 5vh;
  z-index: -1;
}

.power {
  position: absolute;
  width: 5vh;
  height: 5vh;
}

.side_bar_div {
  background-color: #2A2A2AFF;
  border-right: .5vh solid #444;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 30vh;
  height: 100vh;
  overflow: auto;
  z-index: 256;
}

.side_bar_button {
  background-image: url("./images/buttons/sidebar.png");
  background-position: bottom center;
  font-size: 4.5vh;
  width: 30vh;
  height: 10vh;
}

.side_div {
  background: #000D;
  margin: 0;
  position: absolute;
  top: 0;
  left: -25vh;
  width: 55vh;
  height: 100vh;
  overflow: auto;
  transition: left .5s ease;
  z-index: 255;
}

.side_div > * {
  margin: 1vh;
}

#statistics_div {
  text-align: left;
  width: 45vh;
  padding: 0 5vh 0 5vh;
}

#statistics_div > p {
  margin: .5vh;
  text-align: left;
  font-size: 3vh;
}

#save_button {
  background-image: url("./images/buttons/sidebar.png");
  background-position: bottom center;
  font-size: 4vh;
  width: 18vh;
  height: 6vh;
}

#reset_button {
  background-image: url("./images/buttons/sidebar.png");
  background-position: bottom center;
  color: #F00;
  font-size: 3vh;
  margin-bottom: 0;
  width: 18vh;
  height: 6vh;
}

.stats_title {
  color: #CCC;
  font-size: 2vh;
}

#achievements {
  margin: 2vh 3.5vh 0 3.5vh;
  display: grid;
  grid-template-columns: repeat(8, 6vh);
  gap: 0;
}

.achievement {
  width: 5vh;
  height: 5vh;
  margin: .5vh;
  filter: brightness(.1);
}

.achievement:hover {
}

.upgrades_div {
  background-color: #2A2A2AFF;
  border-left: .5vh solid #444;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 55vh;
  height: 100vh;
  overflow: auto;
}

.upgrade_button_div {
  margin: auto;
  margin-bottom: 1vh;
  position: relative;
  width: 50vh;
  height: 13vh;
  display: none;
}

.upgrade_button_div > button {
  background-image: url("./images/buttons/upgrade.png");
  background-position: bottom center;
  font-size: 7.5vh;
  padding-bottom: 2.5vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vh;
  height: 13vh;
}

.upgrade_button_div > button:active {
  background-image: url("./images/buttons/upgrade-active.png");
  padding-bottom: 0vh;
  position: absolute;
  top: 2.5vh;
  height: 10.5vh;
}

.upgrade_button_text {
  margin: 1vh;
  position: relative;
  height: 9vh;
}

.upgrade_name {
  position: absolute;
  top: 1.5vh;
  left: 8vh;
  font-size: 4vh;
}

.upgrade_cost {
  position: absolute;
  bottom: 1.5vh;
  left: 8vh;
  font-size: 3vh;
}

.upgrade_level {
  position: absolute;
  top: 2vh;
  right: 1vh;
  font-size: 5vh;
}

.upgrade_ascension {
  color: #FD2;
  position: absolute;
  top: 2vh;
  left: 10.5vh;
  font-size: 5vh;
}

.upgrade_image {
  background-position: center center;
  width: 6vh;
  height: 6vh;
  position: absolute;
  top: 1.5vh;
  left: 1vh;
}

#notice_div {
  position: absolute;
  bottom: -14vh;
  left: 2vh;
  background: #111;
  color: white;
  width: 50vh;
  height: 10vh;
  border: solid .5vh #222;
  border-radius: 1vh;
  font-size: 2vh;
  z-index: 65535;
  transition: bottom 1s ease;
}

#notice_image {
  position: absolute;
  top: 1vh;
  left: 1vh;
  width: 8vh;
  height: 8vh;
}

#notice_title {
  position: absolute;
  top: 1.5vh;
  left: 10vh;
  font-size: 5vh;
}

#notice_sub {
  position: absolute;
  top: 6vh;
  left: 10vh;
  font-size: 2.5vh;
}

#tooltip {
  position: fixed;
  pointer-events: none;
  background: #000D;
  color: white;
  width: 22vh;
  height: auto;
  padding: 1vh 1.5vh;
  border-radius: 1vh;
  font-size: 2vh;
  display: none;
  transform: translate(1vh, 1vh);
  z-index: 65536;
}

#tooltip .title {
  font-size: 3vh;
  width: 100%;
  margin-bottom: .5vh;
}

#tooltip .desc {
  font-size: 2vh;
  width: 100;
  margin-bottom: .5vh;
}

#tooltip .sub {
  font-style: italic;
  font-size: 2vh;
  width: 100;
  margin-bottom: .5vh;
}

#tooltip .effect {
  font-size: 2vh;
  width: 100%;
  color: #ffcc00;
}
